.side-menu {
    background-color: #313746;
    color: #fff;
    width: 20rem !important;
    padding: 20px;
    position: fixed;
    height: 100vh;
}

.side-menu__person {
    transition: all 0.5s ease;
    animation: fade-in 1.5s;
    position: relative;
}

@keyframes fade-in {
    from {
        opacity:0;
        top:-8px;
    }
    to {
        opacity:1;
        top:0px;
    }
}

.side-menu hr {
    background: #5b6580;
}

.side-menu__image {
    border-radius: 50%;
    margin: 0 8px 8px 0;
    border: solid 2px #fff;
    width: 40px;
}

.side-menu__remove {
    padding: 5px 10px;
    margin-left: 8px;
    transition: all 0.5s ease;
}

.side-menu__remove:hover {
    cursor: pointer;
    background: #ffffff56;
    transition: all 0.5s ease;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .side-menu {
        display: none;
    }
}