@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@200;400;600&family=Roboto:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(238, 237, 231);
    color: #313746;
    font-family: 'Poppins', sans-serif;
}

.app-layout {
    display: flex;
}

.btn {
    margin: 2px;
    border-radius: 20px;
    color: #fff !important;
  }
  
  .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 100, 100, 0.438);
  }
  
  .btn-rose {
    color: #fff;
    background: #ff675d;
  }
  
  .btn-rose:hover {
    color: #fff;
    background: #d1554d;
  }
  
  .btn-rose-lined {
    color: #fff;
    background: transparent;
    border: solid 1px #ff675d;
  }
  
  .btn-rose-lined:hover {
    color: #fff;
    background: #ff675d;
    border: solid 1px #ff675d;
  }